@use "../../../scss/variables" as *;
@mixin containerCommon {
  min-height: 77vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 50px;
  gap: 30px;
}
.container {
  @include containerCommon();
  background: $containerSecundary;
}
.container_light {
  @include containerCommon();
  background: $containerSecundary-light;
}
.containerDiv {
  width: 75%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.containerCard {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(60px, 1fr));
  justify-items: center;
  align-items: center;
  gap: 30px;
}
@mixin copyCommon {
  font-size: 20px;
  text-align: center;
}
.copy {
  @include copyCommon();
  color: $white;
}
.copy_ligth {
  @include copyCommon();
  color: $black;
}
