@mixin container($bg) {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 72px;
  padding-bottom: 40px;
  background: $bg;
}
.bgDarkPrimary {
  @include container(#282c34);
}
.bgDarkSecundary {
  @include container(#20232a);
}
