@use "../../../scss/variables" as *;
.container {
  width: 75%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 80px;
}
.description {
  font-size: 20px;
  color: $white;
  text-align: justify;
}
.containerButton {
  width: 100%;
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 28px;
}
.referencia {
  height: 100vh;
}
