@use "../../../scss/variables" as *;

@mixin commonContainer($bg) {
  width: 100%;
  padding-bottom: 10px;
  padding-top: 10px;
  z-index: 50;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: $bg;
  position: fixed;
  left: 0;
  top: 0;
}
.container {
  @include commonContainer($transparent);
}
.containerLight {
  @include commonContainer($transparentLight);
}
.containerDiv {
  width: 75%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.link {
  color: $white;
  cursor: pointer;
  font-size: 30px;
  font-weight: 600;
}
.image {
  width: 45px;
  display: none;
  color: $primary;

  @media screen and (max-width: 1024px) {
    display: block;
  }
}
.navigation {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 18px;
  transition: all ease-out 150ms;

  @media screen and (max-width: 1024px) {
    position: absolute;
    width: 140px;
    opacity: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: $transparent;
    gap: 0;
    height: 0;
    top: 71.56px;
    right: 5.5%;
    bottom: 0;
    border-radius: 4px;
    overflow: hidden;
  }
}

.checkedNav {
  display: none;

  &:checked ~ .navigation {
    opacity: 1;
    height: 250px;
    display: flex;
  }
}
