@use "../../../scss/variables" as *;
@mixin linkCommon($bg) {
  padding: 8px 16px;
  border-radius: 4px;
  font-size: 20px;
  transition: all ease-out 150ms;
  cursor: pointer;
  text-decoration: none;
  background: $bg;
  border: solid 2px $bg;
  &:hover {
    background: $bg;
    border: solid 2px $bg;
  }
}
.link {
  @include linkCommon($primary);
  color: $black;
}
.link_light {
  @include linkCommon($primary-light);
  color: $white;
}
