@use "../../../scss/variables" as *;
@mixin linkCommon($color) {
  padding: 8px 16px;
  border-radius: 4px;
  border: solid 2px $color;
  color: $color;
  transition: all ease-out 150ms;
  font-size: 20px;
  background: transparent;
  cursor: pointer;
  &:hover {
    background: $color;
    color: $black;
  }
}
.link {
  @include linkCommon($primary);
}
.link_light {
  @include linkCommon($primary-light);
  &:hover {
    color: $white;
  }
}
