@use "../../../scss/variables" as *;
.link {
  padding: 8px 16px;
  border-radius: 4px;
  border: solid 2px $primary;
  color: $primary;
  transition: all ease-out 150ms;
  font-size: 20px;
  background: transparent;
  cursor: pointer;
  &:hover {
    background: $primary;
    color: $black;
  }
}
