@use "../../../../../scss/variables" as *;
.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  width: 100%;
}
.image {
  width: 100%;
  height: 100%;
}
@mixin parrafoCommon($color) {
  color: $color;
  font-size: 20px;
  font-weight: 300;
  text-align: center;
}
.parrafo {
  @include parrafoCommon($white);
}
.parrafo_ligth {
  @include parrafoCommon($primary-light);
}
