.container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 0;
  top: 0;
  z-index: -50;
}
.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -10;
  filter: brightness(45%);
}
.containerCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.nombre {
  font-size: 60px;
  color: #61dafb;
  font-weight: 600;
  text-align: center;

  
}
.rol {
  color: white;
  font-size: 28px;
  text-align: center;
}
