@use "../../../../../scss/variables" as *;
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  gap: 25px;
}
.title {
  color: $white;
  font-size: 20px;
  text-align: center;
  z-index: 3;
}
@mixin containerTextCommon($bg) {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  width: 250px;
  height: 250px;
  padding: 20px;
  bottom: 0;
  z-index: 2;
  opacity: 0;
  background: $bg;
  transition: all ease-out 150ms;
  border-width: 2px;
  border-radius: 4px;
  gap: 8px;
  &:hover {
    opacity: 1;
  }
}
.containerText {
  @include containerTextCommon($containerPrimary);
}
.containerText_ligth {
  @include containerTextCommon($containerSecundary-light);
  border: solid 2px $primary-light;
}
@mixin descriptionCommon($color) {
  color: $color;
  text-align: center;
  z-index: 3;
  font-size: 16px;
}
.description {
  @include descriptionCommon($white);
}
.description_ligth {
  @include descriptionCommon($black);
}
@mixin tecnologiaCommon($color) {
  font-size: 15px;
  color: $color;
  text-align: center;
}
.tecnologia {
  @include tecnologiaCommon($primary);
}
.tecnologia_ligth {
  @include tecnologiaCommon($primary-light);
}
.image {
  object-fit: cover;
  border-radius: 4px;
  width: 250px;
  aspect-ratio: 1/1;
}
@mixin repositorioCommon($border) {
  width: 58px;
  aspect-ratio: 1/1;
  border: solid 2px transparent;
  border-radius: 50%;
  &:hover {
    border: solid 2px $border;
  }
}
.repositorio {
  @include repositorioCommon($primary);
}
.repositorio_linght {
  @include repositorioCommon($primary-light);
}
.containerButtons {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 10px;
}
