@use "../../../scss/variables" as *;
@mixin titleCommon {
  font-size: 40px;
  color: $primary;
  font-weight: 600;
}
.title {
  @include titleCommon();
  color: $primary;
}
.title_light {
  @include titleCommon();
  color: $primary-light;
}
